# R
.Rhistory
.Rproj.user
cache/

# Jupyter
.ipynb_checkpoints/

# Jekyll
docs/_site
docs/.bundle
docs/Gemfile.lock

# api keys for data.gov and census api
*api_key.R

# SQLite database created in lesson
*.sqlite
